.App {
  background-color: #131215;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  background-image: url("../assets/imgs/bg3.png");
  // background-color: white;
  background-repeat: no-repeat;
  position: relative;
}
