.App {
  background-color: #131215;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--bgimg);

  // background-color: white;
  background-repeat: repeat-y;
  position: relative;
  // background-size: cover;
}
