.loginFullDiv {
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginFullDiv .opa_zero {
  opacity: 0;
}
.loginFullDiv .animation {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.loginFullDiv .loginBox {
  width: 80%;
  max-width: 1200px;
  height: 70vh;
  box-shadow: var(--box-shadow3);
  background: var(--boxColorGradient);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.loginFullDiv .loginBox .leftBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
}
.loginFullDiv .loginBox .leftBox .iconBox {
  display: flex;
}
.loginFullDiv .loginBox .leftBox .iconBox p {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.loginFullDiv .loginBox .leftBox .iconBox p img {
  max-width: 100%;
}
.loginFullDiv .loginBox .leftBox .iconBox p:nth-of-type(1) {
  background: linear-gradient(200deg, rgb(248, 229, 165), rgb(245, 125, 13));
}
.loginFullDiv .loginBox .leftBox .iconBox p:nth-of-type(1) img {
  width: 50px;
}
.loginFullDiv .loginBox .leftBox .iconBox p:nth-of-type(2) {
  background: linear-gradient(15deg, rgb(252, 176, 245), rgb(129, 53, 216));
}
.loginFullDiv .loginBox .leftBox .iconBox p:nth-of-type(2) img {
  width: 50px;
}
.loginFullDiv .loginBox .leftBox .iconBox p:nth-of-type(3) {
  background: linear-gradient(rgb(219, 231, 162), rgb(108, 165, 94));
}
.loginFullDiv .loginBox .leftBox .iconBox p:nth-of-type(3) img {
  width: 50px;
}
.loginFullDiv .loginBox .leftBox .textBox p {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}
.loginFullDiv .loginBox .leftBox .textBox p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 500;
  color: var(--textColor5);
  margin-top: 10px;
}
.loginFullDiv .loginBox .rightBox {
  width: 45%;
  height: 100%;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginFullDiv .loginBox .rightBox .loginTitle {
  font-size: 36px;
  font-weight: 700;
}
.loginFullDiv .loginBox .rightBox .loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 70%;
}
.loginFullDiv .loginBox .rightBox .loginForm p {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 295px;
}
.loginFullDiv .loginBox .rightBox .loginForm p label {
  margin-bottom: 5px;
}
.loginFullDiv .loginBox .rightBox .loginForm input {
  background-color: var(--inputBgColor);
  border: none;
  border: 0;
  border-radius: 8px;
  outline: none;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  transition: 0.2s;
  color: var(--selectColor);
}
.loginFullDiv .loginBox .rightBox .loginForm input:focus {
  border: solid 2px var(--textColor4);
  background-image: var(--inputBgColor);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.loginFullDiv .loginBox .rightBox .loginForm button {
  width: 120px;
  background: var(--gradient);
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 30px;
}
.loginFullDiv .loginBox .rightBox .loginForm .showText {
  font-size: 14px;
  color: #cd42e2;
  margin: 0;
  transform: translateY(-10px);
}
.loginFullDiv .loginBox .rightBox .loginForm .hideText {
  font-size: 14px;
  opacity: 0;
  margin: 0;
  transform: translateY(-10px);
}
.loginFullDiv .loginBox .rightBox .signUpBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 500;
}
.loginFullDiv .loginBox .rightBox .signUpBox p {
  color: var(--textColor5);
  max-width: 190px;
}
.loginFullDiv .loginBox .rightBox .signUpBox button {
  font-size: 13px;
  width: 60px;
  height: 30px;
  color: white;
  background: none;
  margin: 0;
  padding: 0;
}

.accountModalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 280px;
  height: 180px;
  border-radius: 20px;
  background: var(--accountGradient);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow3);
}
.accountModalBox .confetti {
  position: absolute;
  -webkit-animation: grow 0.9s cubic-bezier(0.42, 0, 0.275, 1.155) both;
          animation: grow 0.9s cubic-bezier(0.42, 0, 0.275, 1.155) both;
}
.accountModalBox .confetti:nth-child(1) {
  width: 12px;
  height: 12px;
  left: 26px;
  top: 36px;
}
.accountModalBox .confetti:nth-child(2) {
  width: 18px;
  height: 18px;
  left: 120px;
  top: 36px;
}
.accountModalBox .confetti:nth-child(3) {
  width: 10px;
  height: 10px;
  left: 42px;
  top: 152px;
}
.accountModalBox .confetti:nth-child(4) {
  width: 20px;
  height: 20px;
  left: 62px;
  top: 12px;
}
.accountModalBox .confetti:nth-child(5) {
  width: 14px;
  height: 14px;
  left: 120px;
  top: 100px;
}
.accountModalBox .confetti:nth-child(6) {
  width: 10px;
  height: 10px;
  left: 6px;
  top: 60px;
}
.accountModalBox .confetti:nth-child(1) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.accountModalBox .confetti:nth-child(2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.accountModalBox .confetti:nth-child(3) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
.accountModalBox .confetti:nth-child(4) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.accountModalBox .confetti:nth-child(5) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}
.accountModalBox .confetti:nth-child(6) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.accountModalBox .checkmark {
  position: relative;
  padding: 30px;
  -webkit-animation: checkmark 4.2s cubic-bezier(0.42, 0, 0.275, 1.155) both;
          animation: checkmark 4.2s cubic-bezier(0.42, 0, 0.275, 1.155) both;
}
.accountModalBox .checkmark__check {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  fill: #c180fb;
}
.accountModalBox .checkmark__back {
  -webkit-animation: rotate 35s linear both infinite;
          animation: rotate 35s linear both infinite;
  transform: translateY(-100px);
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes grow {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes grow {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@-webkit-keyframes checkmark {
  0%, 100% {
    opacity: 0;
    transform: scale(0);
  }
  10%, 50%, 90% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes checkmark {
  0%, 100% {
    opacity: 0;
    transform: scale(0);
  }
  10%, 50%, 90% {
    opacity: 1;
    transform: scale(1);
  }
}/*# sourceMappingURL=login.module.css.map */