@import "./_variable.scss";
.loginFullDiv {
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .opa_zero {
    opacity: 0;
  }
  .animation {
    animation-name: opacity;
    animation-duration: 1500ms;

    @keyframes opacity {
      from {
        opacity: 0;
        transform: translateY(15px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }

  .loginBox {
    width: 80%;
    max-width: 1200px;
    height: 70vh;
    // background-color: #131313ef;
    box-shadow: var(--box-shadow3);
    background: var(--boxColorGradient);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    // border: 5px solid white;
    // box-shadow: 2px 5px 8px rgb(14, 14, 14);

    .leftBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 45%;
      //   background-color: rgb(221, 221, 221);
      height: 100%;
      .iconBox {
        display: flex;
        p {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 10px;
          img {
            max-width: 100%;
          }

          &:nth-of-type(1) {
            background: linear-gradient(
              200deg,
              rgb(248, 229, 165),
              rgb(245, 125, 13)
            );
            img {
              width: 50px;
            }
          }
          &:nth-of-type(2) {
            background: linear-gradient(
              15deg,
              rgb(252, 176, 245),
              rgb(129, 53, 216)
            );
            img {
              width: 50px;
            }
          }
          &:nth-of-type(3) {
            background: linear-gradient(rgb(219, 231, 162), rgb(108, 165, 94));
            img {
              width: 50px;
            }
          }
        }
      }

      .textBox {
        p {
          font-size: 30px;
          font-weight: 600;
          text-align: center;
          margin-top: 30px;

          &:nth-of-type(2) {
            font-size: 14px;
            font-weight: 500;
            color: var(--textColor5);
            margin-top: 10px;
          }
        }
      }
    }
    .rightBox {
      //   background-color: rgb(243, 242, 242);
      width: 45%;
      height: 100%;
      border-radius: 0 20px 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.shake {
        animation: shake 150ms 2 linear;
      }
      @keyframes shake {
        0% {
          transform: translate(3px, 0);
        }
        50% {
          transform: translate(-3px, 0);
        }
        100% {
          transform: translate(0, 0);
        }
      }

      .loginTitle {
        font-size: 36px;
        font-weight: 700;
      }
      .loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        width: 70%;
        p {
          display: flex;
          flex-direction: column;
          width: 80%;
          max-width: 295px;

          label {
            margin-bottom: 5px;
          }
        }

        input {
          background-color: var(--inputBgColor);
          border: none;
          border: 0;
          border-radius: 8px;
          outline: none;
          height: 40px;
          margin-bottom: 20px;
          padding-left: 10px;
          width: 100%;
          transition: 0.2s;
          color: var(--selectColor);

          &:focus {
            border: solid 2px var(--textColor4);
            background-image: var(--inputBgColor);
            background-origin: border-box;
            background-clip: padding-box, border-box;
          }
        }

        button {
          width: 120px;
          background: var(--gradient);
          font-size: 18px;
          padding: 5px 10px;
          border-radius: 30px;
          transition: 0.2s;

          &:hover {
            transform: scale(1.02);
          }

          &:active {
            transform: translateY(2px);
          }
        }

        .showText {
          font-size: 14px;
          color: #cd42e2;
          margin: 0;
          transform: translateY(-10px);
        }
        .hideText {
          font-size: 14px;
          opacity: 0;
          margin: 0;
          transform: translateY(-10px);
        }
      }
      .signUpBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        font-size: 14px;
        margin-top: 15px;
        font-weight: 500;
        p {
          color: var(--textColor5);
          max-width: 190px;
        }
        button {
          font-size: 13px;
          width: 60px;
          height: 30px;
          color: white;
          background: none;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.accountModalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 280px;
  height: 180px;
  border-radius: 20px;
  // background-color: white;
  background: var(--accountGradient);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow2);

  $blue: #c180fb;
  $white: #c180fb;
  $curve: cubic-bezier(0.42, 0, 0.275, 1.155);
  $time: 0.9s;

  @mixin size($size) {
    width: $size;
    height: $size;
  }

  .confetti {
    position: absolute;
    animation: grow $time $curve both;

    &:nth-child(1) {
      @include size(12px);
      left: 26px;
      top: 36px;
    }

    &:nth-child(2) {
      @include size(18px);
      left: 120px;
      top: 36px;
    }

    &:nth-child(3) {
      @include size(10px);
      left: 42px;
      top: 152px;
    }

    &:nth-child(4) {
      @include size(20px);
      left: 62px;
      top: 12px;
    }

    &:nth-child(5) {
      @include size(14px);
      left: 120px;
      top: 100px;
    }

    &:nth-child(6) {
      @include size(10px);
      left: 6px;
      top: 60px;
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-delay: $i * ($time/2);
      }
    }
  }

  .checkmark {
    position: relative;
    padding: 30px;
    animation: checkmark 4.2s $curve both;
    // transform: translateY(-10%);
  }

  .checkmark__check {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    fill: $white;
  }

  .checkmark__back {
    animation: rotate 35s linear both infinite;
    transform: translateY(-100px);
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes grow {
    0%,
    100% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }

  @keyframes checkmark {
    0%,
    100% {
      opacity: 0;
      transform: scale(0);
    }

    10%,
    50%,
    90% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@include tablet {
  .loginFullDiv {
    .loginBox {
      .rightBox {
        .loginForm {
          width: 80%;
          p {
            width: 90%;
          }
        }
      }
    }
  }
}

@include mobile {
  .loginFullDiv {
    .loginBox {
      .leftBox {
        display: none;
      }
      .rightBox {
        width: 80%;
        .loginTitle {
          font-size: 32px;
        }
        .loginForm {
          width: 80%;
          p {
            width: 90%;
          }
        }
      }
    }
  }
}
