html[data-theme=light] {
  --darkToggleColor-btn: #fce8fc;
  --bgimg: url("../assets/imgs/bg9.png");
  --box-shadow: 2px 2px 5px rgba(129, 104, 131, 0.377);
  --box-shadow2: 3px 3px 5px rgba(119, 90, 119, 0.562);
  --gradient: linear-gradient(90deg, #f789ed, #c697f8);
  --moreGradient: linear-gradient(90deg, #fff2fe, #f0e6fd);
  --border: #fff2fe;
  --border2: #fff2fe;
  --textColor: rgb(255, 255, 255);
  --textColor2: #af70f3;
  --textColor3: #f370b2;
  --boxColor: rgba(253, 253, 253, 0.4);
}

html[data-theme=dark] {
  --darkToggleColor-btn: #f3f3f3;
  --bgimg: url("../assets/imgs/bg3.png");
  --box-shadow: -2px -2px 5px rgba(117, 89, 109, 0.377) inset;
  --box-shadow2: 2px 2px 5px rgba(0, 0, 0, 0.377);
  --gradient: linear-gradient(50deg, #ff6fcf, #8d33ee);
  --moreGradient: linear-gradient(90deg, #ff6fcf, #8d33ee);
  --border: #8d33ee;
  --border2: #f3f3f3;
  --textColor: rgb(240, 240, 240);
  --textColor2: rgb(240, 240, 240);
  --boxColor: rgba(36, 36, 36, 0.47);
}

.toggle {
  width: 34px;
  height: 34px;
}
.toggle button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: var(--darkToggleColor-btn);
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}
.toggle button:hover {
  transform: scale(1.03) translateY(-3px);
}

.FullContentBox {
  width: 100%;
  max-width: 1600px;
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opa_zero {
  opacity: 0;
}

.animation {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

.animation2 {
  -webkit-animation-name: text-pop-up-top;
          animation-name: text-pop-up-top;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  /*   @keyframes trans {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
    }
  } */
}
@-webkit-keyframes text-pop-up-top {
  0% {
    transform: translateY(50px);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #a3a3a3, 0 2px 0 #a3a3a3, 0 3px 0 #a3a3a3, 0 4px 0 #a3a3a3, 0 5px 0 #a3a3a3, 0 6px 0 #a3a3a3, 0 7px 0 #a3a3a3, 0 8px 0 #a3a3a3, 0 9px 0 #a3a3a3, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    transform: translateY(50px);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #a3a3a3, 0 2px 0 #a3a3a3, 0 3px 0 #a3a3a3, 0 4px 0 #a3a3a3, 0 5px 0 #a3a3a3, 0 6px 0 #a3a3a3, 0 7px 0 #a3a3a3, 0 8px 0 #a3a3a3, 0 9px 0 #a3a3a3, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.menubar {
  width: 90%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  /*   position: fixed;
  top: 0; */
  z-index: 1000;
}
.menubar .leftMenubar {
  width: 60px;
}
.menubar .leftMenubar p {
  color: #b380e9;
  font-weight: 900;
  min-width: 100px;
  text-align: center;
  font-size: 22px;
  background-image: var(--moreGradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menubar .middleMenubar {
  display: flex;
  color: var(--textColor);
}
.menubar .middleMenubar p {
  margin: 0 35px;
  font-weight: 500;
  position: relative;
  font-size: 18px;
  transition: 0.3s;
}
.menubar .middleMenubar p::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--moreGradient);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  border-radius: 6px;
}
.menubar .middleMenubar p:hover {
  color: rgba(158, 149, 166, 0.8274509804);
}
.menubar .middleMenubar p:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  border-radius: 6px;
}
.menubar .middleMenubar p.currentMenu {
  color: rgba(158, 149, 166, 0.8274509804);
}
.menubar .middleMenubar p.currentMenu:after {
  transform: scaleX(1);
}
.menubar .rightFullMenubar {
  display: flex;
  align-items: center;
}
.menubar .rightFullMenubar .rightMenubar {
  background-color: transparent;
  color: white;
  border: 2px solid var(--border2);
  border-radius: 8px;
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.menubar .rightFullMenubar .rightMenubar:before {
  position: absolute;
  display: block;
  content: "";
  background: var(--gradient);
  height: 40px;
  width: 0%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.menubar .rightFullMenubar .rightMenubar:hover {
  transform: scale(1.03) translateY(-1px);
}
.menubar .rightFullMenubar .rightMenubar:hover:before {
  width: 100%;
}

.mainTitleBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative;
}
.mainTitleBox .mainTitle {
  color: rgb(240, 240, 240);
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  /*     background: url(../assets/imgs/animated-text-fill.png) repeat-y;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden; */
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
}
.mainTitleBox .mainTitle:nth-of-type(2) {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.mainTitleBox button {
  margin-top: 50px;
  color: white;
  font-size: 28px;
  padding: 8px 20px;
  border-radius: 30px;
  width: 200px;
  border: 4px solid #f3f3f3;
  background: transparent;
  box-shadow: var(--box-shadow);
  transition: 0.5s;
  font-weight: bold;
  position: relative;
  height: 60px;
  overflow: hidden;
}
.mainTitleBox button::before {
  position: absolute;
  display: block;
  content: "";
  background: var(--gradient);
  height: 50px;
  width: 50px;
  top: -40%;
  left: -25%;
  transition: 0.5s;
  border-radius: 50%;
}
.mainTitleBox button div {
  transition: 0.4s;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  transform: translateY(2.5px);
}
.mainTitleBox button div p {
  font-size: 28px;
}
.mainTitleBox button div .goTxt {
  margin-top: 13px;
}
.mainTitleBox button:hover {
  transform: scale(1.01);
  box-shadow: 0 0 6px rgba(181, 121, 250, 0.959), 0 0 16px rgba(252, 148, 229, 0.911);
}
.mainTitleBox button:hover::before {
  transform: scale(10, 5);
}
.mainTitleBox button:hover div {
  transform: translateY(-50px);
}
.mainTitleBox button:active {
  transform: scale(0.99) translateY(2.5px);
}
.mainTitleBox .scroll {
  width: 60px;
  height: 60px;
  border: 3px solid rgb(240, 240, 240);
  border-radius: 50%;
  position: absolute;
  -webkit-animation: down 2s infinite;
          animation: down 2s infinite;
  bottom: 5%;
  transition: 0.5s;
  background-color: transparent;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.mainTitleBox .scroll::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 3px solid rgb(240, 240, 240);
  border-bottom: 3px solid rgb(240, 240, 240);
  transform: rotate(-45deg);
}
.mainTitleBox .scroll::after {
  position: absolute;
  display: block;
  content: "";
  background: var(--gradient);
  height: 50px;
  width: 50px;
  top: -80%;
  left: -85%;
  transition: 0.8s;
  border-radius: 50%;
  z-index: -1;
}
.mainTitleBox .scroll:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px rgba(181, 121, 250, 0.959), 0 0 16px rgba(252, 148, 229, 0.911);
}
.mainTitleBox .scroll:hover::after {
  transform: scale(7, 7);
}
@-webkit-keyframes down {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@keyframes down {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.siteDesBox {
  background-color: var(--boxColor);
  border-radius: 20px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  margin-top: 100px;
  color: white;
  max-width: 1600px;
  min-height: 640px;
  width: 90%;
}
.siteDesBox .siteDes_pBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 60px;
}
.siteDesBox .siteDes_pBox div {
  font-size: 70px;
  font-weight: 700;
  width: 60%;
}
.siteDesBox .siteDes_pBox div img {
  width: 30px;
}
.siteDesBox .siteDes_pBox div p {
  margin: 0;
}
.siteDesBox .siteDes_pBox div p:nth-of-type(2) {
  color: var(--textColor2);
}
.siteDesBox .siteDes_pBox .siteDes_p2Box {
  width: 30%;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
}
.siteDesBox .siteDesimgBox {
  width: 90%;
  height: 60%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.siteDesBox .siteDesimgBox p img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid white;
  z-index: 1000;
}
.siteDesBox .siteDesimgBox p .gif:hover {
  transition: 0.5s;
  -webkit-animation: jello-diagonal-1 0.8s;
          animation: jello-diagonal-1 0.8s;
}
.siteDesBox .siteDesimgBox p .gif1:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.siteDesBox .siteDesimgBox p .gif2:hover {
  -webkit-animation: jello-horizontal 1s;
          animation: jello-horizontal 1s;
}
.siteDesBox .siteDesimgBox p .gif3:hover {
  -webkit-animation: rotate-center 1s;
          animation: rotate-center 1s;
}
@-webkit-keyframes jello-diagonal-1 {
  0% {
    transform: skew(0deg 0deg);
  }
  30% {
    transform: skew(20deg 20deg);
  }
  40% {
    transform: skew(-12deg, -12deg);
  }
  50% {
    transform: skew(12deg, 12deg);
  }
  65% {
    transform: skew(-5deg, -5deg);
  }
  75% {
    transform: skew(5deg, 5deg);
  }
  100% {
    transform: skew(0deg 0deg);
  }
}
@keyframes jello-diagonal-1 {
  0% {
    transform: skew(0deg 0deg);
  }
  30% {
    transform: skew(20deg 20deg);
  }
  40% {
    transform: skew(-12deg, -12deg);
  }
  50% {
    transform: skew(12deg, 12deg);
  }
  65% {
    transform: skew(-5deg, -5deg);
  }
  75% {
    transform: skew(5deg, 5deg);
  }
  100% {
    transform: skew(0deg 0deg);
  }
}
@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.siteDesBox .siteDesimgBox .gifBox1 {
  width: 18.1818181818vw;
  height: 18.1818181818vw;
  transform: translateY(-50px);
}
.siteDesBox .siteDesimgBox .gifBox2 {
  width: 10vw;
  height: 10vw;
  transform: translate(-120px, 50px);
}
.siteDesBox .siteDesimgBox .gifBox3 {
  width: 21.2765957447vw;
  height: 21.2765957447vw;
  transform: translate(-50px, 0px);
}
.siteDesBox .siteDesimgBox .gifBox4 {
  width: 16.6666666667vw;
  height: 16.6666666667vw;
  transform: translate(-60px, -120px);
}

.howUseFullBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  width: 80%;
}
.howUseFullBox .howUseTitle {
  font-size: 70px;
  font-weight: 700;
  color: white;
  margin-bottom: 150px;
}
.howUseFullBox .howUseTitle span {
  color: var(--textColor3);
}
.howUseFullBox .howUseContentBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.howUseFullBox .howUseContentBox .howUseBox {
  width: 30%;
  max-width: 330px;
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 3px 5px rgba(115, 106, 117, 0.432);
  border-radius: 18px;
  padding: 30px 20px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.howUseFullBox .howUseContentBox .howUseBox:hover:nth-child(1) {
  transform: rotate(3deg) translateY(-15px);
}
.howUseFullBox .howUseContentBox .howUseBox:hover:nth-child(2) {
  transform: translateY(-5px);
}
.howUseFullBox .howUseContentBox .howUseBox:hover:nth-child(3) {
  transform: rotate(-3deg) translateY(-15px);
}
.howUseFullBox .howUseContentBox .howUseBox .howUseImgBox {
  position: relative;
  width: 90%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.howUseFullBox .howUseContentBox .howUseBox .howUseImgBox img {
  width: 100%;
  max-height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  position: absolute;
  top: 0;
  box-shadow: 1px 3px 5px rgba(88, 88, 88, 0.432);
}
.howUseFullBox .howUseContentBox .howUseBox .howUseImgBox img:nth-of-type(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  filter: invert(100);
  box-shadow: 0px 0px 0px white;
}
.howUseFullBox .howUseContentBox .howUseBox p {
  color: rgb(34, 34, 34);
  text-align: center;
}
.howUseFullBox .howUseContentBox .howUseBox p:nth-of-type(1) {
  font-size: 32px;
  font-weight: 700;
  margin-top: 15px;
}
.howUseFullBox .howUseContentBox .howUseBox p:nth-of-type(2) {
  width: 100%;
  font-weight: 600;
  margin-top: 5px;
}

.FooterBox {
  width: 100%;
  height: 30vh;
  color: white;
  background-color: rgb(12, 10, 12);
  margin-top: 250px;
  border-radius: 45px 45px 0 0;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.FooterBox .footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.FooterBox .footerContent p:nth-of-type(1) {
  font-size: 26px;
  font-weight: 700;
  margin-right: 80px;
}
.FooterBox .footerContent .footerTextBox {
  display: flex;
  align-items: center;
}
.FooterBox .footerContent .footerIconBox {
  display: flex;
  justify-content: space-between;
}
.FooterBox .footerContent .footerIconBox svg {
  color: black;
  transition: 0.3s;
}
.FooterBox .footerContent .footerIconBox .wrapper {
  display: inline-flex;
  list-style: none;
}
.FooterBox .footerContent .footerIconBox .wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.FooterBox .footerContent .footerIconBox .wrapper .icon:hover svg {
  color: whitesmoke;
}
.FooterBox .footerContent .footerIconBox .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  min-width: 20px;
  text-align: center;
  min-width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FooterBox .footerContent .footerIconBox .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.FooterBox .footerContent .footerIconBox .wrapper .icon:hover .tooltip {
  top: -50px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.FooterBox .footerContent .footerIconBox .wrapper .icon:hover span,
.FooterBox .footerContent .footerIconBox .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.FooterBox .footerContent .footerIconBox .wrapper .facebook:hover,
.FooterBox .footerContent .footerIconBox .wrapper .facebook:hover .tooltip,
.FooterBox .footerContent .footerIconBox .wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}
.FooterBox .footerContent .footerIconBox .wrapper .facebook:hover .tooltip,
.FooterBox .footerContent .footerIconBox .wrapper .twitter:hover .tooltip,
.FooterBox .footerContent .footerIconBox .wrapper .instagram:hover .tooltip {
  min-width: 200%;
  text-align: center;
}
.FooterBox .footerContent .footerIconBox .wrapper .twitter:hover,
.FooterBox .footerContent .footerIconBox .wrapper .twitter:hover .tooltip,
.FooterBox .footerContent .footerIconBox .wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}
.FooterBox .footerContent .footerIconBox .wrapper .instagram:hover,
.FooterBox .footerContent .footerIconBox .wrapper .instagram:hover .tooltip,
.FooterBox .footerContent .footerIconBox .wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}
.FooterBox .footerContent .footerIconBox .wrapper .github:hover,
.FooterBox .footerContent .footerIconBox .wrapper .github:hover .tooltip,
.FooterBox .footerContent .footerIconBox .wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
.FooterBox .footerContent .footerIconBox .wrapper .youtube:hover,
.FooterBox .footerContent .footerIconBox .wrapper .youtube:hover .tooltip,
.FooterBox .footerContent .footerIconBox .wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}/*# sourceMappingURL=Main.module.css.map */