.FullContentBox {
  width: 100%;
  max-width: 1600px;
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opa_zero {
  opacity: 0;
}
.animation {
  animation-name: opacity;
  animation-duration: 1500ms;

  @keyframes opacity {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
    }
  }
}
.animation2 {
  animation-name: text-pop-up-top;
  animation-duration: 1000ms;

  /*   @keyframes trans {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
    }
  } */

  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #a3a3a3, 0 2px 0 #a3a3a3, 0 3px 0 #a3a3a3,
        0 4px 0 #a3a3a3, 0 5px 0 #a3a3a3, 0 6px 0 #a3a3a3, 0 7px 0 #a3a3a3,
        0 8px 0 #a3a3a3, 0 9px 0 #a3a3a3, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
}

.menubar {
  width: 80%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  /*   position: fixed;
  top: 0; */
  z-index: 1000;

  .leftMenubar {
    width: 60px;
    p {
      color: #b380e9;
      font-weight: 900;
      min-width: 100px;
      // cursor: pointer;
      text-align: center;
      font-size: 22px;
      background-image: linear-gradient(140deg, #8429fc 0%, #f764de 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .middleMenubar {
    display: flex;
    color: rgb(240, 240, 240);
    p {
      margin: 0 35px;
      // cursor: pointer;
      font-weight: 500;
      position: relative;
      font-size: 18px;
      transition: 0.3s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(140deg, #7c1ff7 0%, #eb66d4 100%);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
        border-radius: 6px;
      }

      &:hover {
        color: #9e95a6d3;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
        border-radius: 6px;
      }
    }
    p.currentMenu {
      color: #9e95a6d3;
      &:after {
        transform: scaleX(1);
      }
    }
  }

  .rightMenubar {
    background-color: transparent;
    color: white;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 8px;
    padding: 5px 20px;
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      display: block;
      content: "";
      background: linear-gradient(140deg, #7c1ff7 0%, #eb66d4 100%);
      height: 40px;
      width: 0%;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.5s;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}

.mainTitleBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative;
  .mainTitle {
    color: rgb(240, 240, 240);
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    /*     background: url(../assets/imgs/animated-text-fill.png) repeat-y;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden; */
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);

    &:nth-of-type(2) {
      margin-top: 20px;
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
  @keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  button {
    margin-top: 50px;
    color: white;
    font-size: 28px;
    padding: 8px 20px;
    border-radius: 30px;
    width: 200px;
    background: linear-gradient(90deg, #c42ddb, #7f20e2);
    border: 3px solid #f3f3f3;
    background: transparent;
    box-shadow: 1px 3px 8px rgb(25, 10, 36);
    transition: 0.5s;
    font-weight: bold;
    position: relative;
    height: 60px;
    overflow: hidden;
    // transform-origin: top;

    &::before {
      position: absolute;
      display: block;
      content: "";
      background: linear-gradient(50deg, #7c1ff7, #eb66d4);
      height: 50px;
      width: 50px;
      top: -40%;
      left: -25%;
      transition: 0.5s;
      border-radius: 50%;
    }
    div {
      transition: 0.4s;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 120px;
      transform: translateY(2.5px);
      p {
        font-size: 28px;
      }
      .goTxt {
        margin-top: 13px;
      }
    }
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 8px rgba(187, 102, 236, 0.959),
        0 0 16px rgba(247, 121, 219, 0.911);

      &::before {
        transform: scale(10, 5);
      }
      div {
        transform: translateY(-50px);
      }
    }
    &:active {
      transform: scale(0.99) translateY(2.5px);
    }
  }
  .scroll {
    width: 60px;
    height: 60px;
    border: 3px solid rgb(240, 240, 240);
    border-radius: 50%;
    position: absolute;
    animation: down 2s infinite;
    bottom: 5%;
    // cursor: pointer;
    transition: 0.5s;
    background-color: transparent;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 18px;
      width: 18px;
      height: 18px;
      border-left: 3px solid rgb(240, 240, 240);
      border-bottom: 3px solid rgb(240, 240, 240);
      transform: rotate(-45deg);
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      background: linear-gradient(#6c00fa, #eb66d4);
      height: 50px;
      width: 50px;
      top: -80%;
      left: -85%;
      transition: 0.8s;
      border-radius: 50%;
      z-index: -1;
    }

    &:hover {
      // background: linear-gradient(50deg, #7c1ff7, #eb66d4);
      transform: scale(1.05);
      box-shadow: 0 0 8px rgba(243, 132, 237, 0.959),
        0 0 20px rgba(160, 92, 250, 0.911);
      &::after {
        transform: scale(7, 7);
      }
    }
  }

  @keyframes down {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
}

.siteDesBox {
  background-color: rgba(36, 36, 36, 0.466);
  border-radius: 20px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  margin-top: 100px;
  color: white;
  max-width: 1600px;
  min-height: 640px;

  .siteDes_pBox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 60px;
    div {
      font-size: 70px;
      font-weight: 700;
      width: 60%;
      img {
        width: 30px;
      }
      p {
        margin: 0;
      }
      & p:nth-of-type(2) {
        color: #7f20e2;
      }
    }

    .siteDes_p2Box {
      width: 30%;
      font-size: 20px;
      margin-top: 20px;
      font-weight: 500;
    }
  }
  .siteDesimgBox {
    width: 90%;
    height: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    p {
      // overflow: hidden;

      img {
        max-width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 15px solid white;
        z-index: 1000;
      }

      .gif:hover {
        // animation: gelatine 0.7s;
        transition: 0.5s;
        animation: jello-diagonal-1 0.8s;
      }

      .gif1:hover {
        transition: 0.5s;
        transform: scale(1.1);
      }
      .gif2:hover {
        animation: jello-horizontal 1s;
      }
      .gif3:hover {
        animation: rotate-center 1s;
      }
    }

    @keyframes jello-diagonal-1 {
      0% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
      }
      30% {
        -webkit-transform: skew(20deg 20deg);
        transform: skew(20deg 20deg);
      }
      40% {
        -webkit-transform: skew(-12deg, -12deg);
        transform: skew(-12deg, -12deg);
      }
      50% {
        -webkit-transform: skew(12deg, 12deg);
        transform: skew(12deg, 12deg);
      }
      65% {
        -webkit-transform: skew(-5deg, -5deg);
        transform: skew(-5deg, -5deg);
      }
      75% {
        -webkit-transform: skew(5deg, 5deg);
        transform: skew(5deg, 5deg);
      }
      100% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
      }
    }
    @keyframes rotate-center {
      0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
      50% {
        transform: rotate(360deg) scale(1.05);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes jello-horizontal {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    .gifBox1 {
      width: calc(100vw / 5.5);
      height: calc(100vw / 5.5);
      transform: translateY(-50px);
    }
    .gifBox2 {
      width: calc((100vw / 10));
      height: calc((100vw / 10));
      transform: translate(-120px, 50px);
    }
    .gifBox3 {
      width: calc(100vw / 4.7);
      height: calc(100vw / 4.7);
      transform: translate(-50px, -00px);
    }
    .gifBox4 {
      width: calc(100vw / 6);
      height: calc(100vw / 6);
      transform: translate(-60px, -120px);
    }
  }
}
.howUseFullBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  // background-color: red;
  width: 80%;

  .howUseTitle {
    font-size: 70px;
    font-weight: 700;
    color: white;
    margin-bottom: 150px;

    span {
      color: rgb(245, 63, 148);
    }
  }
  .howUseContentBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    // transform: translateY(100px);

    .howUseBox {
      width: 30%;
      // height: 45vh;
      max-width: 330px;
      // min-height: 500px;
      background-color: rgb(240, 240, 240);
      // margin-top: 150px;
      border-radius: 18px;
      padding: 30px 20px;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        &:nth-child(1) {
          transform: rotate(3deg) translateY(-15px);
        }
        &:nth-child(2) {
          transform: translateY(-5px);
        }
        &:nth-child(3) {
          transform: rotate(-3deg) translateY(-15px);
        }
      }

      .howUseImgBox {
        position: relative;
        width: 90%;
        height: 225px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-height: 225px;
          object-fit: cover;
          border-radius: 12px;
          position: absolute;
          top: 0;
          box-shadow: 1px 3px 5px rgba(88, 88, 88, 0.432);
        }

        & img:nth-of-type(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70px;
          height: 70px;
          filter: invert(100);
          box-shadow: 0px 0px 0px white;
        }
      }
      p {
        color: rgb(34, 34, 34);
        text-align: center;
      }

      & p:nth-of-type(1) {
        font-size: 32px;
        font-weight: 700;
        margin-top: 15px;
      }
      & p:nth-of-type(2) {
        width: 100%;
        font-weight: 600;
        margin-top: 5px;
      }
    }
  }
}
.FooterBox {
  width: 100%;
  height: 30vh;
  color: white;
  background-color: rgb(12, 10, 12);
  margin-top: 250px;
  border-radius: 45px 45px 0 0;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;

  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    & p:nth-of-type(1) {
      font-size: 26px;
      font-weight: 700;
      margin-right: 80px;
    }
    .footerTextBox {
      display: flex;
      align-items: center;
    }

    .footerIconBox {
      // width: 150px;
      display: flex;
      justify-content: space-between;

      svg {
        color: black;
        transition: 0.3s;
      }
      .wrapper {
        display: inline-flex;
        list-style: none;
      }

      .wrapper .icon {
        position: relative;
        background: #ffffff;
        border-radius: 50%;
        padding: 15px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &:hover {
          svg {
            color: whitesmoke;
          }
        }
      }

      .wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        background: #ffffff;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        min-width: 20px;
        text-align: center;
        min-width: 200%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .wrapper .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: #ffffff;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      .wrapper .icon:hover .tooltip {
        top: -50px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

      .wrapper .icon:hover span,
      .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
      }

      .wrapper .facebook:hover,
      .wrapper .facebook:hover .tooltip,
      .wrapper .facebook:hover .tooltip::before {
        background: #1877f2;
        color: #ffffff;
      }

      .wrapper .facebook:hover .tooltip,
      .wrapper .twitter:hover .tooltip,
      .wrapper .instagram:hover .tooltip {
        min-width: 200%;
        text-align: center;
      }

      .wrapper .twitter:hover,
      .wrapper .twitter:hover .tooltip,
      .wrapper .twitter:hover .tooltip::before {
        background: #1da1f2;
        color: #ffffff;
      }

      .wrapper .instagram:hover,
      .wrapper .instagram:hover .tooltip,
      .wrapper .instagram:hover .tooltip::before {
        background: #e4405f;
        color: #ffffff;
      }

      .wrapper .github:hover,
      .wrapper .github:hover .tooltip,
      .wrapper .github:hover .tooltip::before {
        background: #333333;
        color: #ffffff;
      }

      .wrapper .youtube:hover,
      .wrapper .youtube:hover .tooltip,
      .wrapper .youtube:hover .tooltip::before {
        background: #cd201f;
        color: #ffffff;
      }
    }
  }
}
