.titleFullDiv {
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleFullDiv .logoBox p {
  color: #b380e9;
  font-weight: 700;
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  background-image: linear-gradient(140deg, #8429fc 0%, #f764de 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}
.titleFullDiv .titleBox {
  width: 80%;
  max-width: 1200px;
  height: 70vh;
  background: linear-gradient(rgba(2, 0, 3, 0.4784313725), rgba(19, 19, 19, 0.9725490196));
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  position: relative;
}
.titleFullDiv .titleBox .title {
  font-size: 38px;
  font-weight: 700;
  color: rgb(241, 241, 241);
}
.titleFullDiv .titleBox .form {
  width: 60%;
  position: relative;
  height: 65px;
  overflow: hidden;
  font-size: 22px;
  margin-top: 180px;
}
.titleFullDiv .titleBox .form input {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  border: none;
  background-color: transparent;
}
.titleFullDiv .titleBox .form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 3px solid #bf9ce7;
  color: white;
}
.titleFullDiv .titleBox .form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #e58afc;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.titleFullDiv .titleBox .content_name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.titleFullDiv .titleBox .form input:focus {
  outline: none;
}
.titleFullDiv .titleBox .form input:focus + .label_name .content_name,
.titleFullDiv .titleBox .form input:valid + .label_name .content_name {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: #e58afc;
}
.titleFullDiv .titleBox .form input:focus + .label_name::after,
.titleFullDiv .titleBox .form input:valid + .label_name::after {
  transform: translateX(0%);
}
.titleFullDiv .titleBox .formBox {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.titleFullDiv .titleBox button {
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #da63ec, #783db6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px rgba(29, 29, 29, 0.986) inset;
  border-radius: 20px;
  padding: 3px 15px;
  width: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px 80px;
  height: 40px;
  transition: 0.3s;
}
.titleFullDiv .titleBox button span {
  font-weight: 700;
  background: linear-gradient(101deg, #da63ec, #783db6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s;
  color: white;
}
.titleFullDiv .titleBox button:hover {
  background: linear-gradient(101deg, #da63ec, #783db6);
  box-shadow: 2px 1000px 1px rgba(240, 104, 104, 0) inset;
  background-origin: initial;
  border: solid 1px rgb(19, 19, 19);
}
.titleFullDiv .titleBox button:hover span {
  color: white;
}
.titleFullDiv .titleBox button:active {
  transform: translateY(2.5px);
}
.titleFullDiv .titleBox .alertMsg {
  margin-top: 10px;
  color: rgb(214, 96, 250);
  width: 60%;
  opacity: 0;
}
.titleFullDiv .titleBox .alertMsg.on {
  opacity: 1;
  color: rgb(214, 96, 250);
}

.opa_zero {
  opacity: 0;
}

.animation {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}/*# sourceMappingURL=title.module.css.map */