/* body {
  height: 100%;
}
#root {
  height: 100%;
  .App {
    height: 200vh;
  }
} */
.writeFullDiv {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.writeFullDiv .trendBox {
  width: 90%;
  max-width: 1600px;
  margin-top: 200px;
  background: linear-gradient(rgba(2, 0, 3, 0.4784313725), rgba(19, 19, 19, 0.9725490196));
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  position: relative;
}
.writeFullDiv .trendBox .trendContentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.writeFullDiv .trendBox .trendContentBox .trendTitle {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .on {
  transform: translateY(100px);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .on:hover {
  transform: translateY(95px);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifWrapBox {
  width: 30%;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifWrapBox:hover {
  transform: translateY(-5px);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifBox {
  padding: 30px 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifBox img {
  width: 100%;
  border-radius: 8px;
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 2px 3px 4px rgba(27, 27, 27, 0.301);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifBox p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  max-height: 110px;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .btnBox {
  margin-bottom: 8%;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .btnBox button {
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.082);
  padding: 3px 10px;
  border-radius: 8px;
  box-shadow: 2px 3px 4px rgba(27, 27, 27, 0.274);
  transition: 0.3s;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .btnBox button:hover {
  transform: scale(1.03) translateY(-2px);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .btnBox button:active {
  transform: translateY(0px);
}

.opa_zero {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.opa_zero2 {
  -webkit-animation-name: opacity2;
          animation-name: opacity2;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}
@-webkit-keyframes opacity2 {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes opacity2 {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scrollBox {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.scroll {
  width: 56px;
  height: 56px;
  border: 4px solid var(--border);
  border-radius: 50%;
  position: fixed;
  right: 0%;
  bottom: 0%;
  margin: 2%;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
  overflow: hidden;
  box-shadow: var(--box-shadow2);
}
.scroll::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 15px;
  width: 18px;
  height: 18px;
  border-left: 3px solid rgb(240, 240, 240);
  border-bottom: 3px solid rgb(240, 240, 240);
  transform: rotate(135deg);
  z-index: 2000;
}
.scroll::after {
  position: absolute;
  display: block;
  content: "";
  background: var(--gradient);
  height: 40px;
  width: 40px;
  top: -65%;
  left: -65%;
  transition: 0.8s;
  border-radius: 50%;
  z-index: 1000;
}
.scroll:hover {
  transform: scale(1.05);
}
.scroll:hover::after {
  transform: scale(5, 5);
}/*# sourceMappingURL=trend.module.css.map */