/* body {
  height: 100%;
}
#root {
  height: 100%;
  .App {
    height: 200vh;
  }
} */
.writeFullDiv {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.writeFullDiv .trendBox {
  width: 80%;
  max-width: 1600px;
  margin-top: 200px;
  background: linear-gradient(rgba(2, 0, 3, 0.4784313725), rgba(19, 19, 19, 0.9725490196));
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  position: relative;
}
.writeFullDiv .trendBox .trendContentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.writeFullDiv .trendBox .trendContentBox .trendTitle {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .on {
  transform: translateY(100px);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .on:hover {
  transform: translateY(95px);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifWrapBox {
  width: 30%;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 25px;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifWrapBox:hover {
  transform: translateY(-5px);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifBox {
  padding: 30px 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifBox img {
  width: 100%;
  border-radius: 8px;
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 2px 3px 4px rgba(27, 27, 27, 0.301);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .gifBox p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  max-height: 110px;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .btnBox {
  margin-bottom: 8%;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .btnBox button {
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.082);
  padding: 3px 10px;
  border-radius: 8px;
  box-shadow: 2px 3px 4px rgba(27, 27, 27, 0.274);
  transition: 0.3s;
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .btnBox button:hover {
  transform: scale(1.03) translateY(-2px);
}
.writeFullDiv .trendBox .trendContentBox .gifContentBox .btnBox button:active {
  transform: translateY(0px);
}

.startOpacity {
  transform: translateY(15px);
}
.startOpacity:hover {
  transform: translateY(-5px);
}

.endOpacity {
  opacity: 1;
  transition: all 0.6s;
  transform: translateY(0px);
}

.animation {
  /*   animation-name: opacity;
  animation-duration: 3000ms;

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */
}

.opa_zero {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scrollBox {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
}

.scroll {
  width: 60px;
  height: 60px;
  border: 3px solid rgb(240, 240, 240);
  border-radius: 50%;
  position: fixed;
  -webkit-animation: down 2s infinite;
          animation: down 2s infinite;
  right: 0%;
  bottom: 0%;
  margin: 3%;
  cursor: pointer;
  transition: 0.5s;
  background-color: transparent;
  overflow: hidden;
}
.scroll::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 3px solid rgb(240, 240, 240);
  border-bottom: 3px solid rgb(240, 240, 240);
  transform: rotate(135deg);
}
.scroll::after {
  position: absolute;
  display: block;
  content: "";
  background: linear-gradient(#6c00fa, #eb66d4);
  height: 50px;
  width: 50px;
  top: -80%;
  left: -85%;
  transition: 0.8s;
  border-radius: 50%;
  z-index: -1;
}
.scroll:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(243, 132, 237, 0.959), 0 0 20px rgba(160, 92, 250, 0.911);
}
.scroll:hover::after {
  transform: scale(7, 7);
}/*# sourceMappingURL=trend.module.css.map */