/* body {
  height: 100%;
}
#root {
  height: 100%;
  .App {
    height: 200vh;
  }
} */

.writeFullDiv {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url("../assets/imgs/bg3.png");

  .trendBox {
    width: 90%;
    max-width: 1600px;
    margin-top: 200px;
    background: linear-gradient(#0200037a, #131313f8);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 60px;
    position: relative;
    .trendContentBox {
      //   background-color: rgb(167, 167, 167);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .trendTitle {
        color: white;
        font-weight: bold;
        font-size: 50px;
      }

      .gifContentBox {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;

        .on {
          transform: translateY(100px);
          &:hover {
            transform: translateY(95px);
          }
        }
        .gifWrapBox {
          width: 30%;
          transition: 0.3s;
          cursor: pointer;
          display: flex;
          justify-content: center;
          // margin-bottom: 25px;
          &:hover {
            transform: translateY(-5px);
          }
        }
        .gifBox {
          padding: 30px 10px;
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          img {
            width: 100%;
            border-radius: 8px;
            max-height: 160px;
            object-fit: cover;
            box-shadow: 2px 3px 4px rgba(27, 27, 27, 0.301);
          }

          p {
            margin-top: 10px;
            font-size: 24px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            text-align: center;
            max-height: 110px;
            // background-color: red;
          }
        }
        .btnBox {
          margin-bottom: 8%;

          button {
            color: white;
            font-size: 16px;
            background-color: rgba(0, 0, 0, 0.082);
            padding: 3px 10px;
            border-radius: 8px;
            box-shadow: 2px 3px 4px rgba(27, 27, 27, 0.274);
            transition: 0.3s;

            &:hover {
              transform: scale(1.03) translateY(-2px);
            }

            &:active {
              transform: translateY(0px);
            }
          }
        }
      }
    }
  }
}

.opa_zero {
  animation-name: opacity;
  animation-duration: 1500ms;

  @keyframes opacity {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.opa_zero2 {
  animation-name: opacity2;
  animation-duration: 1500ms;

  @keyframes opacity2 {
    from {
      opacity: 0;
      transform: translateY(0px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.scrollBox {
  height: 100vh;
  width: 100%;
  // position: relative;
  position: absolute;
  top: 0;
  z-index: -1;
}

.scroll {
  width: 56px;
  height: 56px;
  border: 4px solid var(--border);
  border-radius: 50%;
  position: fixed;
  right: 0%;
  bottom: 0%;
  margin: 2%;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
  overflow: hidden;
  box-shadow: var(--box-shadow2);
  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 15px;
    width: 18px;
    height: 18px;
    border-left: 3px solid rgb(240, 240, 240);
    border-bottom: 3px solid rgb(240, 240, 240);
    transform: rotate(135deg);
    z-index: 2000;
  }
  &::after {
    position: absolute;
    display: block;
    content: "";
    background: var(--gradient);
    height: 40px;
    width: 40px;
    top: -65%;
    left: -65%;
    transition: 0.8s;
    border-radius: 50%;
    z-index: 1000;
  }

  &:hover {
    // background: linear-gradient(50deg, #7c1ff7, #eb66d4);
    transform: scale(1.05);
    &::after {
      transform: scale(5, 5);
    }
  }
}
